<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAMapyiS36lLlnVEvrpfb4plDsV8fCNTAI</string>
	<key>GCM_SENDER_ID</key>
	<string>79663037799</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.roadwise.roadwiseApplication</string>
	<key>PROJECT_ID</key>
	<string>roadwise-application-54684</string>
	<key>STORAGE_BUCKET</key>
	<string>roadwise-application-54684.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:79663037799:ios:bc225854eda24c3f35c3c2</string>
</dict>
</plist>